[submodule "Libraries/RestKit"]
	path = Code/Libraries/RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "Libraries/ViewDeck"]
	path = Code/Libraries/ViewDeck
	url = https://github.com/Inferis/ViewDeck.git
[submodule "Libraries/FacebookSDK"]
	path = Code/Libraries/FacebookSDK
	url = https://github.com/facebook/facebook-ios-sdk.git
